# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.vscode/*
!.vscode/extensions.json
coverage/

# Android / iOS
**/android/.gradle
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Generated.xcconfig
**/ios/Runner/GeneratedPluginRegistrant.*

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
functions/node_modules/
functions/lib/
.runtimeconfig.json
service-account*.json

# Secretos
.env
*.keystore
*.jks

# Sistema
.DS_Store
Thumbs.db
